<header class="header">
    <div class="header-container">
        <a href="index.html" class="logo">
            <h6 class="logo-text">Agricola Gentili </h6>
        </a>
        
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
        <nav>
            <ul class="nav-menu">
                <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">Storia</a></li>
                <li class="nav-item"><a href="vini.html" class="nav-link">Vini</a></li>
                <li class="nav-item"><a href="olio.html" class="nav-link">Olio</a></li>
                <li class="nav-item"><a href="negozio.html" class="nav-link">Negozio</a></li>
                <li class="nav-item"><a href="contatti.html" class="nav-link">Contatti</a></li>
                <li class="nav-item rivenditori-item">
                    <a href="area-rivenditori.html" class="nav-link">
                        Area Rivenditori
                        <span class="rivenditori-badge">Per partite IVA</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>